/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v32-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
/* Header style start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header_logo {
  display: flex;
  flex-wrap: wrap;
}

.header_logo_pic {
  width: 40px;
  height: auto;
  margin-right: 10px;
  background-color: #ffffff;
}

.header_logo_title {
  font-weight: 500;
  color: white;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 45px;
}

.header_item:last-child {
  margin-right: 0;
}

.header_link {
  font-size: 14px;
  line-height: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  opacity: 0.75;
}

.header_log_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header_log_link {
  margin-right: 45px;
}

.header_button {
  border: none;
  outline: none;
  width: 153px;
  height: 56px;
  background-color: white;
  text-transform: uppercase;
}
/* Header style end */

/* Intro style start */
.intro {
  height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 170px;
}

.intro_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.intro_wrapper {
  max-width: 500px;
}

.intro_link {
  font-size: 18px;
  line-height: 21.6px;
  color: #efefef;
  margin-right: 45px;
}

.intro_title {
  font-size: 72px;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 20px;
}

.intro_subtitle {
  font-size: 22px;
  line-height: 26.4px;
  color: #ffffff;
  margin-bottom: 46px;
}
/* Intro style end */

/* Exclusive style start */
.exclusive {
  background-color: #60777c;
  color: #ffffff;
}
.exc_title_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exc_title_wrapper {
  max-width: 640px;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 120px;
}

.exc_title {
  font-size: 56px;
  line-height: 56px;
  padding-bottom: 22px;
}

.exc_subtitle {
  font-size: 22px;
  line-height: 26.4px;
}

/* Exclusive-1 style start */
.exclusive_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
}

.exc_section_content {
  max-width: 535px;
}

.exc_section_title {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 22px;
}

.exc_section_subtitle {
  font-size: 22px;
  line-height: 26.4px;
}

.exclusive_section_reverse {
  display: flex;
  flex-direction: row-reverse;
}
/* Exclusive-1 style end*/
/* Exclusive style end */

/* Member style start */
.member {
  padding-top: 80px;
}
.member_title {
  font-size: 56px;
  line-height: 56px;
  padding-bottom: 20px;
}

.member_subtitle {
  font-size: 22px;
  line-height: 26.4px;
  padding-bottom: 20px;
}

.member_disc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.member_desc_wraper {
  padding-bottom: 65px;
}

.member_link_wrapper {
  display: flex;
  justify-content: center;
}

.member_link {
  font-size: 18px;
  line-height: 21.6px;
  text-decoration: underline;
  color: #000000;
  text-transform: uppercase;
  padding-right: 15px;
}

.member_link:hover {
  opacity: 0.75;
}

.member_link_arrow {
  width: 20px;
}

.member_picture_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
}

.member_img {
  width: 30em;
}
/* Member style end */

/* Section Get Started style start */
.get_started {
  background-color: #000000;
  color: #ffffff;
}

.get_started_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 0px;
}

.get_start_title_wrapper {
  width: 40%;
}

.get_start_subtitle_wrapper {
  width: 40%;
}

.get_start_title {
  font-size: 56px;
  line-height: 56px;
  padding-bottom: 30px;
}

.get_start_link {
  font-size: 18px;
  line-height: 21.6px;
  text-decoration: underline;
  text-transform: uppercase;
  padding-right: 15px;
  color: #ffffff;
}

.get_start_link:hover {
  opacity: 0.75;
}

.member_link_arrow {
  color: #ffffff;
}

.get_start_subtitle {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 27px;
  margin-left: 4em;
  margin-right: 3em;
}

.get_start_subtitle_num {
  padding-right: 10px;
}
/* Section Get Started style end */

/* Section Price style start */
.price {
  padding-top: 80px;
}

.price_title_wrapper {
  max-width: 280px;
  padding-bottom: 60px;
}

.price_title {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 22px;
}

.price_subtitle {
  font-size: 22px;
  line-height: 26.4px;
}

.price_block_with_title,
.price_block_cards {
  width: 50%;
}

.price_block_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 44px 0;
}

.price_block_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_block_with_card {
  padding-right: 50px;
}

.price_block_title {
  font-size: 18px;
  line-height: 21.6px;
}

.price_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.price_card_title {
  font-size: 22px;
  line-height: 26.4px;
  padding-bottom: 15px;
}

.price_num {
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 4px;
}

.price_status {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 5px;
}

.price_discount {
  font-size: 12px;
  line-height: 16px;
  color: #0888c8;
}

/* advantages style start */
.advantages {
  padding-bottom: 40px;
}

.advantage_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: solid #ebebeb;
}

.adv_subtitle_wrapper {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 4em;
  padding-left: 1em;
}
/* advantages style end */
/* Plan style start */
.plan_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
}

.plan_title {
  font-size: 28px;
  line-height: 33.6px;
}

.plan_subtitle_desc {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.plan_subtitle_wrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

.plan_subtitle_desc > img {
  padding-right: 15px;
}
/* Plan style end*/
/* Section Price style end  */

/* Section Question style start */
.question {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  color: #ffffff;
  background-color: #000000;
}

.question_title {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 45px;
}

.questions_wrapper {
  width: 55em;
}

.question_one {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: solid #cacaca;
}

.question_one:first-child {
  border-top: solid #cacaca;
}
/* Section Question style end */

/* Section Support style start */
.support {
  padding: 80px 0px;
  color: #ffffff;
  background-color: #000000;
}

.support_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.support_cont_disc {
  width: 50%;
}

.support_title {
  font-size: 56px;
  line-height: 56px;
  padding-bottom: 20px;
}
/* Section Support style end */
